EMBEDDING_MODEL=nomic-embed-text
GENERATING_MODEL=llama3.2:1b
VECTOR_DB_STORAGE=/home/debian/llm/data/chroma_storage
CONTEXT_TEMPLATE=You are an AI language model assistant. Your task is to examine the source PDF file and use its content to answer user's questions with maximum precise and efficiency.